
h1, h2 {
  margin: 0;
  padding: 0;
}
header {
  width: 100%; 
  height: 100px;
  background-color: #4D4D4D;
  border: 1px solid #4D4D4D;
}
header h1 {
  margin-left: 30px;
  padding-top: 25px;
  color: #fff;
}

.float-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.float-list ul li {
  float: left;
  margin-right: 20px;
}

.float-list ul li span {
  font-weight: bolder;
}

.clearfloat {
  zoom: 1;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
}

.div-list span {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.float-list, .div-list {
  width: 100%;
  border: 1px solid	#000000;
}
h2 {
  height: 70px;
  width: 200px;
  float: left;
  background-color: darkgray;
  text-align: center;
  padding-top: 30px;
}
.content {
  float:left;
  padding: 10px 0 0 10px;
}